/* CSS Document */
*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --f1red: #e10600;
}

header {
  background-color: var(--f1red);
  color: white;

  position: fixed;
  z-index: 1;
  max-width: 100%;
  display: grid;
  grid-template-columns: min-content 1fr min-content;

  top: 0px;
  left: 0px;
  right: 0px;

  overflow: auto;
}

body {
  font-family: sans-serif;
  margin: 0;
  background-color: lightgrey;
}

h1 {
  font-weight: bold;
  margin-top: 0;
}

h2 {
  font-weight: bold;
  font-size: 1.5em;
  text-align: center;
}

h3 {
  color: var(--f1red);
  font-size: .75em;
  margin: 2px;
  margin-bottom: 6px;

}

div {
  overflow: hidden;
}

header a:first-of-type {
  order: 1;
  z-index: 5;
  justify-self: center;
  margin-left: 1.5em;
  margin-right: 1.5em;
}

header a:first-of-type img {
  max-width: 4em;
  z-index: 1;
}

button {
  position: fixed;
  border: none;
  padding: 0;
  margin: .25em;
  width: 2em;
  background-color: var(--f1red);
}

button:hover {
  cursor: pointer;
}

header>button:last-of-type {
  right: 0em;
  margin-right: 2em;
}

button>img {
  background-color: transparent;
  border: none;
  width: 3em;
}


header button:last-of-type {
  order: 2;
}

ul {
  list-style-type: none;
}


nav>ul {
  margin-top: 0em;
  align-items: center;
  padding: 2em;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  transform: translateX(calc(-100%));

  background-color: var(--f1red);

  transition: 0.5s;
}

header li {
  border: solid 0.1em;
  border-left: hidden;
  border-top: hidden;
  border-color: white;
  border-bottom-right-radius: 1em;

  padding: 1.25em;
  margin-bottom: 1.25em;

  transition: 0.25s;
}

header li:hover {
  background-color: #15151e;
  cursor: pointer;
}

nav.showMenu ul {
  transform: translateX(calc(0%));
}

nav button {
  order: -1;
  justify-self: center;
  z-index: 1;
}



body>section:first-of-type {
  position: relative;
  max-width: 100%;
  margin-top: 6em;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1.2em;
}

.usa {
  transition: 1s;
  transform: translateX(-23em);
}

article {
  margin: 8px;
  overflow: hidden;
}

article:first-of-type {
  border: solid;
  border-left: hidden;
  border-bottom: hidden;
  border-width: .65em;
  border-color: var(--f1red);
  border-top-right-radius: 1.5em;
  grid-column: span 2;

  margin-bottom: 2em;
  padding-right: 12px;
}

article img {
  max-width: 100%;
  transition: 0.5s;
}

article:hover img {
  transform: scale(1.05);
  cursor: pointer;
}

article:hover p {
  border-color: var(--f1red);
  cursor: pointer;
}

article:hover h1 {
  text-decoration: underline;
}

article>p {
  padding: 4px;
  margin-top: 4px;

  border: solid;
  border-left: hidden;
  border-top: hidden;
  border-bottom-right-radius: 10px;
  border-width: 1px;
}

section button {
  position: absolute;
  left: 185px;
  top: 75px;
}











section:nth-of-type(2) {
  background-color: #15151e;
  color: grey;

  display: flex;
  justify-content: space-between;

  margin: 0;
  margin-top: 5em;
  margin-bottom: 5em;
  padding: 0em;
  padding-top: 1em;
  padding-bottom: 1em;

  overflow: scroll;
}

section:nth-of-type(2) ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 0em;
  padding-left: 0em;

  transition: .5s;
}

section:nth-of-type(2) li {
  margin: 0em;
  padding: 2em;
  padding-top: 9em;
  padding-bottom: 12em;
  text-align: center;

  width: 12em;

  border-right: solid .01em;
  border-bottom: solid .01em;
  border-bottom-right-radius: 2em;
  border-color: grey;

  transition: .2s;
}

section:nth-of-type(2) li:hover {
  color: white;

}

li img {
  max-width: 5em;
  border-radius: .5em;
}

.russia {
  transform: translateX(-36em);
}

section:nth-of-type(3) img {
  width: 100%;
  min-width: 100em;
  margin-top: 0em;
}

/* section:nth-of-type(3) {} */

section:nth-of-type(3) h1 {
  margin: 0em;
  font-size: 2em;
  text-align: center;
  transform: translateY(3.5em);
  color: white;
}

div:first-of-type ul:first-of-type {
  display: flex;
  justify-content: center;
  margin: 0em;
  padding: 0em;
}

div:first-of-type ul:first-of-type li {
  margin: 0em;
  padding: 1em;
  border: none;
  border-bottom: solid .5em transparent;
  transform: translateY(2em);

  cursor: pointer;
}

div:first-of-type ul:first-of-type li:hover {
  border-color: var(--f1red);
}

section:nth-of-type(3)>ul:last-of-type li {
  background-color: white;

  display: grid;
  grid-template-columns: 2fr 3fr 2fr 1fr;
  grid-gap: 2em;
  margin-left: 2em;
  margin-right: 2em;
  margin-bottom: .25em;
  padding: .5em;
  padding-top: 0em;
  padding-bottom: 0em;

  border-radius: 1em;

  transition: .3s;
}

/* section:nth-of-type(3)>ul:last-of-type li p:last-of-type {
  background-color: lightgrey;
  padding: .5em;
  padding-left: 1em;
  padding-right: 1em;
  border-radius: 1em;
} */

section:nth-of-type(3)>ul:last-of-type li:hover {
  background-color: #15151e;
  color: white;

  cursor: pointer;
}

section:nth-of-type(3)>ul:last-of-type li p {
  padding-top: .5em;
}

/* VERSCHILLENDE BORDER COLORS VOOR VERSCHILLENDE TEAMS */

section:nth-of-type(3)>ul:last-of-type li:first-of-type h2,
section:nth-of-type(3)>ul:last-of-type li:nth-of-type(3) h2 {
  border-right: solid .35em #00d2be;
}

section:nth-of-type(3)>ul:last-of-type li:nth-of-type(2) h2,
section:nth-of-type(3)>ul:last-of-type li:nth-of-type(5) h2 {
  border-right: solid .35em #0600ef;
}

section:nth-of-type(3)>ul:last-of-type li:nth-of-type(4) h2,
section:nth-of-type(3)>ul:last-of-type li:nth-of-type(8) h2 {
  border-right: solid .35em #FF9800;
}

section:nth-of-type(3)>ul:last-of-type li:nth-of-type(6) h2,
section:nth-of-type(3)>ul:last-of-type li:nth-of-type(7) h2 {
  border-right: solid .35em #dc0000;
}

section:nth-of-type(3)>ul:last-of-type li:nth-of-type(9) h2,
section:nth-of-type(3)>ul:last-of-type li:nth-of-type(14) h2 {
  border-right: solid .35em #2b4562;
}

section:nth-of-type(3)>ul:last-of-type li:nth-of-type(10) h2,
section:nth-of-type(3)>ul:last-of-type li:nth-of-type(11) h2 {
  border-right: solid .35em #0090ff;
}

section:nth-of-type(3)>ul:last-of-type li:nth-of-type(12) h2,
section:nth-of-type(3)>ul:last-of-type li:nth-of-type(13) h2 {
  border-right: solid .35em #006f62;
}

section:nth-of-type(3)>ul:last-of-type li:nth-of-type(15) h2,
section:nth-of-type(3)>ul:last-of-type li:nth-of-type(16) h2 {
  border-right: solid .35em #005aff;
}

section:nth-of-type(3)>ul:last-of-type li:nth-of-type(17) h2,
section:nth-of-type(3)>ul:last-of-type li:nth-of-type(18) h2,
section:nth-of-type(3)>ul:last-of-type li:nth-of-type(20) h2 {
  border-right: solid .35em #900000;
}

section:nth-of-type(3)>ul:last-of-type li:nth-of-type(19) h2,
section:nth-of-type(3)>ul:last-of-type li:nth-of-type(21) h2 {
  border-right: solid .35em lightgrey;
}


b {
  text-transform: uppercase;
}







/* CODE VOOR DE FOOTER */

footer {
  color: white;
  background-color: #15151e;

  padding: 2em;
  padding-left: 5em;
  padding-right: 5em;
  margin-top: 3em;
}

footer>section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  margin: 1em;
  padding: 1em;

  border-right: solid .65em #38383f;
  border-bottom: solid .65em #38383f;
  border-bottom-right-radius: 1.5em;
}

footer li {
  margin: .25em;
  border-bottom: solid .25em transparent;

  cursor: pointer;
}

footer li:hover {
  border-bottom-color: var(--f1red);
}

/* CODE VOOR DE TWEEDE HTML PAGINA, OVER DE DRIVERS */

.driversPage h1 {
  font-size: 3em;
}

/* CODE VOOR WANNEER HET SCHERM GROTER DAN 56EM WORDT */

@media (min-width: 56em) {
  nav {
    display: flex;
    justify-content: center;
    order: 1;
  }

  nav button {
    display: none;
  }

  nav ul {
    transform: translateX(calc(0%));
    display: flex;
    justify-content: space-evenly;
    top: 0em;
    left: 5em;
    right: 5em;
    bottom: 50em;

    margin: 0em;
    padding-bottom: 0;
    padding-top: 1.5em;

    transform: translateY(-.5em);

  }

  header a:first-of-type {
    order: 0;
  }

  header ul:first-of-type li {
    margin-top: 0;
    margin-bottom: 0;
    border: hidden;
    border-bottom-right-radius: 0em;
  }

  body>section:first-of-type {
    grid-template-columns: 2fr 1fr 1fr;
    margin: 4em;
  }

  article:first-of-type {
    grid-column: span 1;
    grid-row: span 2;
  }

  h1 {
    font-size: 2em;
  }

  section:nth-of-type(3)>ul:last-of-type {
    margin-left: 10em;
    margin-right: 10em;
  }

  section:nth-of-type(3)>ul:last-of-type li {
    grid-template-columns: 1fr 2fr 6fr 1fr;
  }
}